body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #333;
    font-size: larger;
}

#profile-pic {
    height: 350px;
    width: 350px;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

p {
    font-size: 22px;
}

#aboutMe {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* copied from w3schools following google search */
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* copied from w3schools following google search */
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }